<!-- <p>blog-page works!</p> -->
<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/8.jpg);">
  <div class="auto-container">
      <div class="inner-container clearfix">
          <h1>Latest News</h1>
          <ul class="bread-crumb clearfix">
              <li><a href="index.html">Home</a></li>
              <li>News</li>
          </ul>
      </div>
  </div>
</section>
<!--End Page Title-->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
  <div class="auto-container">
      <div class="row clearfix">
          <!--Content Side-->
          <div class="content-side col-lg-9 col-md-8 col-sm-12">
              <div class="blog-list">
                  <!-- News Block -->
                  <div class="news-block-two">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure><img src="images/resource/blog-list-1.jpg" alt=""></figure>
                              <a href="images/resource/blog-list-1.jpg" class="lightbox-image"><i class="plus-icon"></i></a>
                          </div>
                          <div class="lower-content">
                              <div class="info-box">
                                  <ul>
                                      <li><i class="fa fa-user"></i><a href="blog-detail.html">Admin</a></li>
                                      <li><i class="fa fa-comments"></i><a href="blog-detail.html">Comment  02</a></li>
                                  </ul>
                              </div>
                              <div class="content">
                                  <div class="date-and-like">
                                      <div class="date"><h4>17</h4><span>oct</span></div>
                                      <div class="like"><span class="fa fa-heart"></span> 02</div>
                                  </div>
                                  <h3><a href="blog-detail.html">Tips for car maintanence</a></h3>
                                  <p>shopping around town for the lowest gas prices, we have found a great video that gives some extra money saving A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is.</p>
                                  <a href="blog-detail.html" class="read-more">Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- News Block -->
                  <div class="news-block-two">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure><img src="images/resource/blog-list-2.jpg" alt=""></figure>
                              <a href="images/resource/blog-list-2.jpg" class="lightbox-image"><i class="plus-icon"></i></a>
                          </div>
                          <div class="lower-content">
                              <div class="info-box">
                                  <ul>
                                      <li><i class="fa fa-user"></i><a href="blog-detail.html">Admin</a></li>
                                      <li><i class="fa fa-comments"></i><a href="blog-detail.html">Comment  02</a></li>
                                  </ul>
                              </div>
                              <div class="content">
                                  <div class="date-and-like">
                                      <div class="date"><h4>18</h4><span>aug</span></div>
                                      <div class="like"><span class="fa fa-heart"></span> 02</div>
                                  </div>
                                  <h3><a href="blog-detail.html">Tips for car maintanence</a></h3>
                                  <p>shopping around town for the lowest gas prices, we have found a great video that gives some extra money saving A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is.</p>
                                  <a href="blog-detail.html" class="read-more">Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- News Block -->
                  <div class="news-block-two">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure><img src="images/resource/blog-list-3.jpg" alt=""></figure>
                              <a href="images/resource/blog-list-3.jpg" class="lightbox-image"><i class="plus-icon"></i></a>
                          </div>
                          <div class="lower-content">
                              <div class="info-box">
                                  <ul>
                                      <li><i class="fa fa-user"></i><a href="blog-detail.html">Admin</a></li>
                                      <li><i class="fa fa-comments"></i><a href="blog-detail.html">Comment  02</a></li>
                                  </ul>
                              </div>
                              <div class="content">
                                  <div class="date-and-like">
                                      <div class="date"><h4>28</h4><span>aug</span></div>
                                      <div class="like"><span class="fa fa-heart"></span> 02</div>
                                  </div>
                                  <h3><a href="blog-detail.html">Tips for car maintanence</a></h3>
                                  <p>shopping around town for the lowest gas prices, we have found a great video that gives some extra money saving A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is.</p>
                                  <a href="blog-detail.html" class="read-more">Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- News Block -->
                  <div class="news-block-two">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure><img src="images/resource/blog-list-4.jpg" alt=""></figure>
                              <a href="images/resource/blog-list-4.jpg" class="lightbox-image"><i class="plus-icon"></i></a>
                          </div>
                          <div class="lower-content">
                              <div class="info-box">
                                  <ul>
                                      <li><i class="fa fa-user"></i><a href="blog-detail.html">Admin</a></li>
                                      <li><i class="fa fa-comments"></i><a href="blog-detail.html">Comment  02</a></li>
                                  </ul>
                              </div>
                              <div class="content">
                                  <div class="date-and-like">
                                      <div class="date"><h4>28</h4><span>aug</span></div>
                                      <div class="like"><span class="fa fa-heart"></span> 02</div>
                                  </div>
                                  <h3><a href="blog-detail.html">Tips for car maintanence</a></h3>
                                  <p>shopping around town for the lowest gas prices, we have found a great video that gives some extra money saving A lot of auto repair customerss questions the importance of wheel alignment. Is it really necessary? Yes, it is.</p>
                                  <a href="blog-detail.html" class="read-more">Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>


                  <!-- Styled Pagination -->
                  <div class="styled-pagination text-center clearfix">
                      <ul class="clearfix">
                          <li><a href="#" class="active">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                      </ul>
                  </div>

              </div><!-- Blog List -->
          </div>
          <!--Sidebar Side-->
          <div class="sidebar-side col-lg-3 col-md-4 col-sm-12">
              <aside class="sidebar default-sidebar">

                  <!--search box-->
                  <div class="sidebar-widget search-box">
                      <form method="post" action="https://expert-themes.com/html/motor-expert/blog.html">
                          <div class="form-group">
                              <input type="search" name="search-field" value="" placeholder="Search Product" required="">
                              <button type="submit"><span class="icon fa fa-search"></span></button>
                          </div>
                      </form>
                  </div>

                  <!-- Categories -->
                  <div class="sidebar-widget categories">
                      <div class="sidebar-title"><h2>Categories</h2></div>
                      <ul class="category-list">
                          <li><a href="#">Cooling Kit  <span>12</span></a></li>
                          <li><a href="#">Engine Kit   <span>15</span></a></li>
                          <li><a href="#">Car Engine   <span>10</span></a></li>
                          <li><a href="#">Single Parts <span>08</span></a></li>
                          <li><a href="#">Break Kit    <span>05</span></a></li>
                      </ul>
                  </div>

                  <!-- Latest News -->
                  <div class="sidebar-widget latest-news">
                      <div class="sidebar-title"><h2>Latest News</h2></div>
                      <div class="widget-content">
                          <article class="post">
                              <div class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                              <h3><a href="blog-single.html">Time to check the wheel aligment</a></h3>
                              <div class="post-info"><span class="fa fa-comments"></span> 3 Comments</div>
                          </article>

                          <article class="post">
                              <div class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                              <h3><a href="blog-single.html">Clunking sound under the hood</a></h3>
                              <div class="post-info"><span class="fa fa-comments"></span> 0 Comments</div>
                          </article>

                          <article class="post">
                              <div class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                              <h3><a href="blog-single.html">Top certified services in 2017</a></h3>
                              <div class="post-info"><span class="fa fa-comments"></span> 10 Comments</div>
                          </article>
                      </div>
                  </div>

                  <!-- Tags -->
                  <div class="sidebar-widget tags">
                      <div class="sidebar-title"><h2>Tags</h2></div>
                      <ul class="tag-list clearfix">
                          <li><a href="#">Brakes</a></li>
                          <li><a href="#">Diagnostics</a></li>
                          <li><a href="#">Cars</a></li>
                          <li><a href="#">Oil Filters</a></li>
                          <li><a href="#">Transmission</a></li>
                          <li><a href="#">Engines</a></li>
                          <li><a href="#">Suspension</a></li>
                      </ul>
                  </div>

              </aside>
          </div>
      </div>
  </div>
</div>
<!-- End Sidebar Container -->

<!-- Subscribe Section -->
<section class="subscribe-section">
  <div class="auto-container">
      <div class="inner-container clearfix">
          <h3>Check out our repair service for your car and get a free clean</h3>
          <a href="#" class="call-btn">Order Now</a>
      </div>
  </div>
</section>
<!-- End Subscribe Section -->
