<!-- <p>product-display-page works!</p> -->
   <!--Page Title-->
   <section class="page-title" style="background-image:url(assets/images/background/8.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Products</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!--Sidebar Page Container-->
<div class="sidebar-page-container">
  <div class="auto-container">
      <div class="row clearfix">

          <!--content side-->
          <div class="content-side col-lg-9 col-md-12 col-sm-12">
              <div class="shop-upper-box clearfix">
                  <div class="items-label pull-left">Showing 1-7 of 84 results</div>
                  <div class="sort-by pull-right">
                      <select class="custom-select-box">
                          <option>Default Sorting</option>
                          <option>Price: Lowest First</option>
                          <option>Price: Highest First</option>
                          <option>Ascending</option>
                          <option>Descending</option>
                      </select>
                  </div>
              </div>

              <div class="row clearfix" *ngFor="let item of ProductArr">
                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/1.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a routerlink="/nav/cart" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a routerlink="/nav/">Flying Ninja</a></h3>
                              <span class="price"><del>$15.00</del> $12.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/2.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Happy Ninja</a></h3>
                              <span class="price">$18.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/3.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Patient Ninja</a></h3>
                              <span class="price">$35.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/4.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Ninja Silhouette</a></h3>
                              <span class="price">$20.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/5.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Premium Quality</a></h3>
                              <span class="price">$35.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/6.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Ship Your Idea</a></h3>
                              <span class="price"><del>$15.00</del> $12.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/7.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Ninja Silhouette</a></h3>
                              <span class="price">$20.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/8.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Premium Quality</a></h3>
                              <span class="price">$35.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Shop item -->
                  <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image">
                              <img src="assets/images/resource/products/9.jpg" alt="">
                              <div class="overlay-box">
                                  <div class="icon-box">
                                      <a href="cart.html" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                                  </div>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h3><a href="shop-single.html">Ship Your Idea</a></h3>
                              <span class="price"><del>$15.00</del> $12.00</span>
                              <div class="rating">
                                  <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                    <!-- Styled Pagination -->
                    <div class="styled-pagination text-center clearfix">
                      <ul class="clearfix">
                          <li><a href="#" class="active">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                      </ul>
                  </div>
              </div>

              <!--Sidebar Side-->
              <div class="sidebar-side col-lg-3 col-md-4 col-sm-12">
                  <aside class="sidebar default-sidebar">

                      <!--search box-->
                      <div class="sidebar-widget search-box">
                          <form method="post" action="https://expert-themes.com/html/motor-expert/blog.html">
                              <div class="form-group">
                                  <input type="search" name="search-field" value="" placeholder="Search Product" required="">
                                  <button type="submit"><span class="icon fa fa-search"></span></button>
                              </div>
                          </form>
                      </div>

                      <!-- Categories -->
                      <div class="sidebar-widget categories">
                          <div class="sidebar-title"><h2>Categories</h2></div>
                          <ul class="category-list">
                              <li><a href="#">Cooling Kit  <span>12</span></a></li>
                              <li><a href="#">Engine Kit   <span>15</span></a></li>
                              <li><a href="#">Car Engine   <span>10</span></a></li>
                              <li><a href="#">Single Parts <span>08</span></a></li>
                              <li><a href="#">Break Kit    <span>05</span></a></li>
                          </ul>
                      </div>

                      <!--Price Filter Widget-->
                      <div class="sidebar-widget price-filter-widget">
                          <div class="sidebar-title"><h2>Filter by Price</h2></div>
                          <div class="widget-content">
                              <div class="range-slider-one clearfix">
                                  <div class="price-range-slider"></div>
                                  <div class="clearfix">
                                      <div class="pull-left">
                                          <a href="#" class="theme-btn btn-style-two">Filtter</a>
                                      </div>
                                      <div class="pull-right">
                                          <div class="title">Price:</div>
                                          <div class="input"><input type="text" class="property-amount" name="field-name" readonly></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                      <!-- Top Related Posts -->
                      <div class="sidebar-widget related-posts">
                          <div class="sidebar-title"><h2>Popular Products</h2></div>
                          <div class="widget-content">
                              <!-- Related Post -->
                              <div class="post">
                                  <figure class="post-thumb"><a href="shop-detail.html"><img src="assets/images/resource/products/thumb-1.jpg" alt=""></a></figure>
                                  <h4><a href="shop-detail.html">Woo Album #4</a></h4>
                                  <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                  <span class="price">$287</span>
                              </div>

                              <!-- Related Post -->
                              <div class="post">
                                  <figure class="post-thumb"><a href="shop-detail.html"><img src="assets/images/resource/products/thumb-2.jpg" alt=""></a></figure>
                                  <h4><a href="shop-detail.html">Happy Ninja</a></h4>
                                  <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                  <span class="price">$18.00</span>
                              </div>

                              <!-- Related Post -->
                              <div class="post">
                                  <figure class="post-thumb"><a href="shop-detail.html"><img src="assets/images/resource/products/thumb-3.jpg" alt=""></a></figure>
                                  <h4><a href="shop-detail.html">Ninja Silhouette</a></h4>
                                  <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                  <span class="price">$20.00</span>
                              </div>
                          </div>
                      </div>
                  </aside>
              </div>
          </div>
      </div>
  </div>


  <!-- Subscribe Section -->
  <section class="subscribe-section">
      <div class="auto-container">
          <div class="inner-container clearfix">
              <h3>Check out our repair service for your car and get a free clean</h3>
              <a href="#" class="call-btn">Order Now</a>
          </div>
      </div>
  </section>
  <!-- End Subscribe Section -->
